@use "../abstracts/" as *;

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../public/fonts/HelveticaNeueCyr-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../public/fonts/HelveticaNeueCyr-Roman.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../public/fonts/HelveticaNeueCyr-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #f0f0f0;

  @include breakpoint(sm) {
    font-size: 60px;
    line-height: 73px;
  }
}

h2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0f4c92;

  @include breakpoint(sm) {
    font-size: 40px;
    line-height: 49px;
  }
}

h3 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f0f0f0;

  @include breakpoint(sm) {
    font-size: 20px;
    line-height: 24px;
  }
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0f4c92;

  @include breakpoint(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #1b1b1b;
}
