@use "../../sass/abstracts/" as *;

.cards {
  padding: 53px 19px 60px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 58px;

  @include breakpoint(sm) {
    padding-top: 100px;
    row-gap: 50px;
  }

  .card {
    .image {
      margin-bottom: 29px;
      border-radius: 10px;
      overflow: hidden;
      width: 352px;
      height: 353px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include breakpoint(sm) {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      width: 1196px;
      column-gap: 80px;

      .image {
        flex-shrink: 0;
        margin-left: 4px;
        width: 585px;
        height: 582px;
      }

      .content {
        padding-top: 66px;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        padding: 0;

        .content {
          padding-top: 63px;
          margin-right: 23px;

          h2 {
            max-width: 500px;
          }
        }
      }

      &:last-child {
        .content {
          padding-top: 49px;
        }
      }
    }
  }

  h2 {
    margin-bottom: 20px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #0f4c92;

    @include breakpoint(sm) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  h3 {
    margin-bottom: 40px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1b1b1b;

    @include breakpoint(sm) {
      font-size: 20px;
      line-height: 24px;
    }

    span {
      font-weight: 300;
      letter-spacing: 0.014em;
    }
  }

  p {
    margin-bottom: 40px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #1b1b1b;

    @include breakpoint(sm) {
      font-size: 18px;
      line-height: 26px;
      max-width: 450px;
    }
  }

  .smVisible {
    @include breakpoint(sm) {
      display: none;
    }
  }

  .lgVisible {
    display: none;

    @include breakpoint(sm) {
      display: block;
      text-transform: none;
    }
  }
}
