.test {
  margin-bottom: 300px;
  position: relative;

  span {
    cursor: pointer;
  }

  ul {
    li {
      cursor: pointer;
      font-size: 24px;
      padding: 5px 0;
      border: 1px solid #000;
      list-style-type: none;
      background: rgba(0, 0, 0, 0.1);

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .dropdown {
    position: absolute;
    left: 0;
    width: 180px;

    :hover {
      display: block;
    }

    &.active {
      display: block;
    }
  }
}
