.baseDropDown {
  position: absolute;
  right: 22px;
  display: flex;
  align-items: center;
  height: 100%;

  .icon {
    cursor: pointer;
    left: 30px;
  }

  ul {
    li {
      cursor: pointer;
      font-size: 24px;
      padding: 5px 0;
      border: 1px solid #000;
      list-style-type: none;
      background: white;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .dropdown {
    z-index: 100;
    position: absolute;
    top: 57px;
    right: 0;
    min-width: 260px;

    :hover {
      display: block;
    }

    &.active {
      display: block;
    }
  }
}
